<!DOCTYPE html>
<html>
  <head>
    <title>Strawgoh | After School Classes Portal</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
    ></script>
  </head>
  <body>
    <div id="App">
      <div id="Home">
        <div class="Navigation">
          &nbsp;&nbsp;
          <button
            id="Cart"
            @click="showTheCartPage"
            :disabled="cart.length == 0"
          >
            <i class="fa-solid fa-cart-shopping"></i>
          </button>
          <br />
          <img id="Websitelogo" src="thelogo.png" />
        </div>
        <br />
        <br />
        <div class="Sortbox">
          <br />
          <center>
            <h1 id="Sortby">Sort by :</h1>
            <br /><br />
            <div id="Filters">
              Subject:
              <button class="Ascdesc" id="Nameup" @click="nameAsc">
                <i class="fa-solid fa-arrow-up"></i>
              </button>
              <button class="Ascdesc" id="Namedown" @click="nameDesc">
                <i class="fa-solid fa-arrow-down"></i>
              </button>
              <br /><br />
              Location:
              <button class="Ascdesc" id="Locationup" @click="locationAsc">
                <i class="fa-solid fa-arrow-up"></i>
              </button>
              <button class="Ascdesc" id="Locationdown" @click="locationDesc">
                <i class="fa-solid fa-arrow-down"></i>
              </button>
              <br /><br />
              Fee:
              <button class="Ascdesc" id="Priceup" @click="priceAsc">
                <i class="fa-solid fa-arrow-up"></i>
              </button>
              <button class="Ascdesc" id="Pricedown" @click="priceDesc">
                <i class="fa-solid fa-arrow-down"></i>
              </button>
              <br /><br />
              Teacher:
              <button class="Ascdesc" id="Teacherup" @click="teacherAsc">
                <i class="fa-solid fa-arrow-up"></i>
              </button>
              <button class="Ascdesc" id="Teacherdown" @click="teacherDesc">
                <i class="fa-solid fa-arrow-down"></i>
              </button>
              <br /><br />
              Availability:
              <button class="Ascdesc" id="Spaceup" @click="spaceAsc">
                <i class="fa-solid fa-arrow-up"></i>
              </button>
              <button class="Ascdesc" id="Spacedown" @click="spaceDesc">
                <i class="fa-solid fa-arrow-down"></i>
              </button>
            </div>
          </center>
        </div>
        <br />
        <input
          type="text"
          id="Search"
          placeholder="Search Subject Name, Code, Location or Teacher Here..."
          v-model="searchTerm"
        />
        <div class="Theclasses">
            <table id="Classtable" cellspacing="15">
              <tr v-for="(classItem, index) in classes" v-if="index % 3 === 0">
                <td v-for="i in 3" v-if="(index + i - 1) < classes.length">
                  <div class="Subjectbox">
                    <div id="Subjectname">
                      {{ classes[index + i - 1].code }}:
                      {{ classes[index + i - 1].name }}
                    </div>
                    <div v-html="classes[index + i - 1].fontawsm"></div>
                    <div id="Subjectinfo">
                      <b>Location: </b> {{ classes[index + i - 1].location }}
                      <br />
                      <b>Fee: </b> £ {{ classes[index + i - 1].price }}
                      <br />
                      <b>Teacher: </b> {{ classes[index + i - 1].teacher }}
                      <br />
                      <b>Space: </b>
                      <span v-if="classes[index + i -1].space > 0">{{
                        classes[index + i - 1].space
                      }}</span>
                      <span style="color: rgb(158, 32, 32);" v-else
                        >Unavailable</span
                      >
                      <br />
                    </div>
                    <br />
                    <button
                      class="Addtocart"
                      :id="classes[index + i -1].name"
                      @click="addToCart(classes[index + i - 1])"
                      :disabled="classes[index + i -1].space == 0"
                    >
                      <i class="fa-solid fa-cart-plus"></i> Add To Cart
                    </button>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <br />
      </div>
      <div id="Cartpage"></div>
      <div id="Checkoutpage"></div>
    </div>
    <script src="lessons.js"></script>
    <script type="text/javascript">
      const AfterSchool = new Vue({
        el: "#App",
        data: {
          sitename: "Strawgoh | After School Classes Portal",
          classes,
          cart: []
        },
        methods: {
          addToCart(classItem) {
            console.log("Test");
            this.cart.push(classItem);
          },
          showCart(){
            console.log("Testing showCart");
            document.getElementById("Black").style.display = "Block";
            document.getElementById("Thecart").style.display = "Block";
          },
          hideCart(){
            console.log("Testing hideCart");
            document.getElementById("Black").style.display = "None";
            document.getElementById("Thecart").style.display = "None";
          },
          nameAsc() {
            this.classes.sort((a, b) => a.name.localeCompare(b.name));
          },
          nameDesc() {
            this.classes.sort((a, b) => b.name.localeCompare(a.name));
          },
          locationAsc() {
            this.classes.sort((a, b) => a.location.localeCompare(b.location));
          },
          locationDesc() {
            this.classes.sort((a, b) => b.location.localeCompare(a.location));
          },
          priceAsc() {
            this.classes.sort((a, b) => a.price - b.price);
          },
          priceDesc() {
            this.classes.sort((a, b) => b.price - a.price);
          },
          teacherAsc() {
            this.classes.sort((a, b) => a.teacher.localeCompare(b.teacher));
          },
          teacherDesc() {
            this.classes.sort((a, b) => b.teacher.localeCompare(a.teacher));
          },
          spaceAsc() {
            this.classes.sort((a, b) => a.space - b.space);
          },
          spaceDesc() {
            this.classes.sort((a, b) => b.space - a.space);
          },
          fetchClasses() {
            if (typeof classes !== 'undefined') {
              this.classes = classes;
            }
          }
        },
        created() {
          this.fetchClasses();
        },
        computed: {
          cartItemCount: function() {
            return this.cart.length;
          }
        }
      });
    </script>
  </body>
</html>
